h1 {
  color: #822002;
  text-align: center; }

body {
  font-family: "Merriweather", serif;
  background-color: #fab8a0; }

h2 {
  color: #822002; }

h3 {
  color: #822002; }

h4 {
  color: #822002; }

span {
  color: #822002; }

nav {
  background-color: #fab8a0;
  border-width: 0.5em;
  border-color: #822002; }

.titulo-1 {
  padding: 1em 1.5em;
  background-color: #fab8a0; }

.flex-box {
  background-color: #fab8a0;
  border: solid 0.2em #822002;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: auto; }

.flex-box {
  background-color: #fab8a0;
  border: solid 0.2em #822002;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: auto; }

.flex-box {
  background-color: #fab8a0;
  border: solid 0.2em #822002;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: auto; }

.flex-box {
  background-color: #fab8a0;
  border: solid 0.2em #822002;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: auto; }

.flex-box {
  background-color: #fab8a0;
  border: solid 0.2em #822002;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: auto; }
