body {
  font-family: $font;
  background-color: $color-primary;
}
.inicio {
    background-color: $color-primary;
    display: grid;
    grid-template-areas: "header header"
   "nav nav"
   "main main"
   "footer footer";
    text-align: center;
    height: auto; 
}
  
header {
    grid-area: header; 
}
    
main {
    grid-area: main; 
}

//responsive
@media screen and (max-width: 768px) {
  .inicio {
    display: grid;
    grid-template-areas: "nav nav"
 "header header"
 "main main"
 "footer footer";}
}

