h1 {
  color: $color-secondary;
  text-align: center; 
}
body {
  font-family: $font;
  background-color: $color-primary;
}
h2 {
  color: $color-secondary;

}
h3 {
  color: $color-secondary;

}
h4 {
  color: $color-secondary;

}
span {
  color: $color-secondary;

}
.inicio {
    background-color: $color-primary;
    display: grid;
    grid-template-areas: "header header"
   "nav nav"
   "main main"
   "footer footer";
    text-align: center;
    height: auto; 
}

nav {
    grid-area: nav; 
}
  
header {
    grid-area: header; 
}
  
footer {
    grid-area: footer; 
}
  
main {
    grid-area: main; 
}

@media screen and (max-width: 768px) {
  .inicio {
    display: grid;
    grid-template-areas: "nav nav"
 "header header"
 "main main"
 "footer footer";}
}

