h1 {
  color: $color-secondary;
  text-align: center; 
}
body {
  font-family: $font;
  background-color: $color-primary;
}
h2 {
  color: $color-secondary;

}
h3 {
  color: $color-secondary;

}
h4 {
  color: $color-secondary;

}
span {
  color: $color-secondary;

}
