.fotos {
    background-color: $color-primary; 
}
  
.grid {
    display: grid;
    grid-template-columns: auto auto; 
}
  
.img {
    width: 70%; 
}
  
.grid div {
    border: solid .2em $color-secondary; 
}

//responsive
@media screen and (max-width: 760px) {
    .grid {
      display: grid;
      grid-template-columns: auto; } 
}
