.titulo-1 {
    padding: 1em 1.5em;
    background-color: $color-primary; 
}
.transformacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
  
.transform {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80px;
    width: 80px;
    background-color: $color-secondary;
    transform: rotate(50deg);
}
  
.transicion:hover {
    transform: scale(1.2); 
}

